@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: "Poppins", sans-serif;
  background-color: ;
}

.title {
  margin: 3rem auto;
  font-size: 3rem;
  font-weight: 700;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 2rem;
  width: fit-content;
  padding: 0.5rem 3rem;
  color: black;
}

.titleSpan {
  color: #2978b5;
}

.subTitle {
  margin: 2rem auto;
  font-weight: 500;
  font-size: 1.3rem;
}

.add {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 2px 20px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.add:hover {
  background-color: rgba(223, 219, 219, 0.76);
}
